/*
=================================================
COLOUR AND SIZE VARIABLES
=================================================
*/

:root {
    --primary: #1C2128;
    --secondary: #22272E;
    --text-primary: #ADBAC7;
    --text-secondary: #768390;
    --border-primary: #444C56;
    --tile: #2D333B;
}

/*
=================================================
RESETS
=================================================
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
=================================================
MAIN CONTAINER STYLING
=================================================
*/
.project-board {
    text-align: center;
    background-color: var(--primary); 
    height: 100vh; 
    width: 100vw;
    position: relative;
    overflow: hidden;
}

/*
=================================================
TITLE STYLING
=================================================
*/
.title {
    margin-bottom: 20px;
    color: var(--text-primary); 
}

/*
=================================================
INPUT CONTAINER STYLING
=================================================
*/
.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

#taskInput {
    width: 72%;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

/*
=================================================
BUTTON STYLING
=================================================
*/
#addTask {
    background-color: #5cb85c; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
}

/*
=================================================
COLUMNS CONTAINER STYLING
=================================================
*/
.columns {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    background-color: var(--secondary);
    height: 520px;
    padding: 10px 10px;
    border: 1px solid var(--border-primary);
    border-bottom: none;
}

.column-header {
    font-weight: bold;
    background-color: var(--primary); 
    color: white;
}

.column-title {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    padding-top: 15px;
    gap: 8px;
}

.status-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

.todo-dot {
    background-color: #22322D;
    border-color: #347D39;
}

.in-prog-dot {
    background-color: #322E25;
    border-color: #966600;
}

.done-dot {
    background-color: #28293B;
    border-color: #8256D0;
}

.status-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-primary);
}

.info-section {
    width: 100%;
    height: max-content;
    text-align: start;
    padding-left: 10px;
}

.column-info {
    font-size: 14px;
    font-weight: 100;
    color: var(--text-secondary);
}

/*
=================================================
COLUMN STYLING
=================================================
*/
.column {
    border: 1px solid var(--border-primary);
    background-color: var(--primary); 
    width: 350px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}

/*
=================================================
TASK STYLING
=================================================
*/
.tasks-container {
    height: 100%;
    width: 100%;
    padding: 5px 8px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-tile {
    width: 100%;
    height: 70px;
    background-color: var(--tile);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-primary);
    padding: 8px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
}


.task-text, .task-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.todo-importance {
    font-size: 12px;
    color: var(--text-secondary);
    width: 50px;
    padding: 3px;
    background-color: #28293B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    padding: 3px 5px;
    height: max-content;
    transition: all 0.3s;
    border-radius: 3px;
    position: relative;
}

.task-top div svg {
    fill: var(--text-primary);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container:hover {
    cursor: pointer;
    background-color: #22272E;
}

.task-text span {
    font-size: 14px;
    color: var(--text-primary);
}

.task-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
=================================================
DROP DOWN MENU
=================================================
*/


.drop-menu {
    position: fixed;
    width: 100px;
    height: 100px;
    content: " ";
    background-color: var(--tile);
    border-radius: 6px;
    border: 1px solid var(--border-primary);
    z-index: 5;
    translate: -45% 10%;
    visibility: hidden;
}

.drop-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    z-index: 100;
    padding: 8px;
}

.menu-options {
    width: 100%;
    height: 100%;
    background-color: none;
    font-size: 12px;
    color: var(--text-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.menu-options:hover {
    cursor: pointer;
    background-color: #22272E;
}

.drop-menu::before {
    content: " ";
    width: 20px;
    height: 20px;
    background-color: var(--tile);
    border: 1px solid var(--border-primary);
    translate: -40% -53%;
    position: fixed;
    rotate: 45deg;
    border-radius: 3px;
    border-bottom-style: none;
    border-right-style: none;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 1;
}
/*
=================================================
TASK COUNTER STYLING
=================================================
*/
.task-count {
    font-weight: normal;
    width: 20px;
    height: 20px;
    background-color: var(--tile);
    color: var(--text-secondary);
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
=================================================
FOOTER STYLING
=================================================
*/
.footer {
    text-align: center;
    width: 100%;
    background-color: var(--secondary);
    padding: 10px;
}

.copy p {
    color: var(--text-secondary); 
    font-size: 0.8em;
}


/*
=================================================
Responsiveness
=================================================
*/

@media screen and (max-width: 1000px) {
    .project-board {
        overflow-y: scroll;
        width: 100vw;
        overflow-x: hidden;
    }
    .columns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: max-content;
        padding: 10px 20px;
    }
    .column {
        height: 500px;
        min-height: 500px;
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .drop-menu {
        position: absolute;
        width: 100px;
        height: 100px;
        content: " ";
        background-color: var(--tile);
        border-radius: 6px;
        border: 1px solid var(--border-primary);
        z-index: 5;
        translate: -60% 0%;
        visibility: hidden;
    }
    .icon-container {
        padding: 3px 5px;
        height: max-content;
        transition: all 0.3s;
        border-radius: 3px;
        position: relative;
        z-index: 1;
    }
    .tasks-container {
        height: 100%;
        min-height: 100%;
    }
    .drop-menu::before {
        display: none;
    }
    .input-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #addTask, #taskInput {
        width: 90%;
    }
    body {
        width: 100vw;
        overflow-x: hidden;
    }
}


  